snippet ss
	select ${1:*}

snippet sf
	SELECT ${1:*}
	FROM ${2}

snippet ij
	INNER JOIN ${1}
	ON ${2} = ${3}
	${4}

snippet lj
	LEFT JOIN ${1}
	ON ${2} = ${3}
	${4}

snippet fj
	FULL JOIN ${1}
	ON ${2} = ${3}
	${4}
